*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Oswald";
    font-weight: bold;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    flex-direction: column;
}
.pop_up_container{
    background-color: rgba(255, 255, 255, 0.84);
    position: absolute;
    width: 450px;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Oswald";
    text-transform: uppercase;
    flex-wrap: wrap;
    z-index: 999;
    font-size: 1.2rem;
    visibility: hidden;
}
.pop_up_container input{
    margin: 10px;
    font-size: 1rem;
    text-align: center;
    padding :5px;
}
.pop_up_container div button{
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    margin: 10px 10px;
    text-transform: uppercase;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    width: 450px;  
    background-color: tomato;
}
.sub_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sub_header div{
    width: 50%;
}
.sub_header div p{
    text-align: center;
    font-size: 1.4rem;
}
.container_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container_1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_1 div div{
    width: 50%;
}
.container_1 div div p{
    text-align: center;
    font-size: 1.2rem;
}
.header{
    font-size: 1.5rem;
    color: white;
}
.button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#cpga-displayer{
    font-size: 1.2rem;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;

}
#add_sem_gpa_button,#cal_cpga_button{
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 1.2rem;
}