*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Oswald";
    font-weight: bold;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    flex-direction: column;
}
.pop_up_container{
    background-color: rgba(255, 255, 255, 0.84);
    position: absolute;
    width: 450px;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Oswald";
    text-transform: uppercase;
    flex-wrap: wrap;
    z-index: 999;
    font-size: 1.2rem;
    visibility: hidden;
}
.pop_up_container input{
    margin: 10px;
    font-size: 1rem;
    text-align: center;
    padding :5px;
}
.pop_up_container div button{
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    margin: 10px 10px;
    text-transform: uppercase;
}
/*!edit options container*/
.edit_sem_container,.edit_options_container,.modify_container{
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.84);
    position: absolute;
    width: 450px;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    text-transform: uppercase;
    flex-wrap: wrap;
    z-index: 999;
    visibility: hidden;
}
.edit_options_container p{
    font-size: 1.5rem;
}
.edit_options_container button{
    margin-top: 10px;
    width: 200px;
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
/*!modify sem container*/
.modify_header{
    margin-bottom: 20px;
}
.modify_container p{
    font-size: 1.3rem;
    font-weight: bold;
}
select,input{
    width: 130px;
    text-align: center;
    font-size: 1.3rem;
}
.modify_container div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}
.modify_container div div{
    width: 50%;
}
#modify_button,#remove_sem_button{
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
/*!editing sem button styling*/

.edit_sem_container p{
    font-weight: bold;
    font-size: 1.5rem;
}
.edit_sem_container select{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    width: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    width: 450px;  
    background-color: tomato;
}
.sub_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sub_header div{
    width: 50%;
}
.sub_header div p{
    text-align: center;
    font-size: 1.4rem;
}
.container_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container_1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_1 div div{
    width: 50%;
}
.container_1 div div p{
    text-align: center;
    font-size: 1.2rem;
}
.header{
    font-size: 1.5rem;
    color: white;
}
.button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#cpga-displayer{
    font-size: 1.2rem;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
    visibility: hidden;
}
#add_sem_gpa_button,#cal_cpga_button,#main_edit_button,#analyse_button,#predict_button{
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 1.2rem;
}

/*!prediction buttons*/
.predict_container{
    visibility: hidden;
}
#marksChart {
    width: 400px;
    border-radius: 20px;
    margin: 20px auto;
    background-color: hsl(0, 0%, 10%);
    color: white;
    z-index: 999;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 10px;
}
#chart_return_button{
    padding: 5px 10px;
}