*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: linear-gradient(135deg, #f0f0f0, #d3d3d3);;
    flex-direction: column;
    overflow-y: hidden;
}
.header{
    font-size: 1.7rem;
    font-family: "Oswald";
    font-weight: bold;
    padding: 10px;
    text-shadow:
        0 0 5px #39ff14,
        0 0 10px #39ff14,
        0 0 15px #fffc33,  
        0 0 20px #fffc33,
        0 0 30px #39ff14,
        0 0 40px #39ff14,
        0 0 50px #fffc33;
}

/*!add grade container styling*/
.add_grade_container,.gpa_shower_container,.edit_subject_container{
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    width: 450px;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    text-transform: uppercase;
    flex-wrap: wrap;
    z-index: 999;
    visibility: hidden;
}
.gpa_shower_container{
    font-size: 2rem;
    flex-direction: column;   
}
.gpa_shower_container div button{
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Oswald";
    border: none;
    font-weight: bold;
    margin: 0px 10px;
    text-transform: uppercase;
}
#gpa_text{
    color: rgb(255, 0, 0);
    text-shadow:0 0 5px black,
    0 0 10px black,
    0 0 15px white,  
    0 0 20px white,
    0 0 30px black,
    0 0 40px black,
    0 0 50px white; ;
}
.add_grade_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.add_grade_container div p{
    font-size: 1rem;
    margin: 15px;
    font-weight: bold;
}
#credit_point select,#grade_point select{
    font-size: 1rem;
    padding: 2px 8px;
    margin:10px;
}
#add_subject_button,#remove_subject_button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
#add_subject_button:hover, #remove_subject_button:hover{
    background-color: white;
    color: black;
}

/*!editing subject button styling*/
.edit_subject_container{
    flex-direction: column;
}
.edit_subject_container p{
    font-weight: bold;
    font-size: 1.5rem;
}
.edit_subject_container select{
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    width: 50px;
}
#remove_subject_button{
    margin-top: 10px;
}

/*!main contanier styling*/
#subject_counter{
    margin-top: 20px;
}
.text_box{
    
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.container{
    width:500px;
    background-color: tomato ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background:url("../assets/background.gif");
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    padding: 20px;
    border-radius: 20px;
    box-shadow:
    0 0 5px rgba(0, 0, 0, 0.6),   
    0 0 10px rgba(0, 0, 0, 0.8),  
    0 0 15px rgba(0, 0, 0, 1),    
    0 0 20px rgba(0, 0, 0, 1),   
    0 0 30px rgba(0, 0, 0, 1);
}
.container div{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Oswald";
    font-weight: bold;
}
.sub_header{
    font-size: 1.5rem;
    color: white;
}
.context{
    font-size: 1.7rem;
    color: white;
    margin: 10px 0;
    font-family: "New Amsterdam";
    letter-spacing: 2px;
}
#add_grade_trigger,#calculate_gpa,#edit{
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Oswald";
    border: none;
    font-weight: bold;
    margin: 0px 10px;
    margin-top: 10px;
    transition: all 0.3s ease;
}
#add_grade_trigger:hover,#return_home:hover{
    background-color: rgb(255, 38, 0);
}
#calculate_gpa{
    background-color: lightblue;
}
#calculate_gpa:hover{
    background-color: rgb(1, 191, 255);
}
#edit{
    background-color: lightgreen;
    padding: 10px 30px;
}
#edit:hover{
    background-color: rgb(15, 255, 15);
}
#edit_button{
    background-color: lightgreen;
}
#edit_button:hover{
    background-color: rgb(15, 255, 15);
}
select,input{
    font-family: "New Amsterdam";
    font-size: 2rem;
}

/*vibration effect*/
@keyframes smoothVibrate {
    0% { transform: translate(0); }
    10% { transform: translate(-1px, 1px); }
    20% { transform: translate(2px, -2px); }
    30% { transform: translate(-1px, 2px); }
    40% { transform: translate(2px, -1px); }
    50% { transform: translate(-3px, 3px); }
    60% { transform: translate(3px, -3px); }
    70% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    90% { transform: translate(-1px, 1px); }
    100% { transform: translate(0); }
}

.vibrate {
    animation: smoothVibrate 1s ease infinite; /* Smooth and gentle vibration */
}
/*lottie animation*/
#congrs-lottie-animation{
    visibility: hidden;
}

@media(max-width:768px){
    .container{
        width: 350px;
    }
    #edit{
        padding: 10px 30px;
    }
    .add_grade_container,.gpa_shower_container,.edit_subject_container{
        width: 445px;
        border-radius: 50px;
    }
    .add_grade_container{
        width: 350px;
        flex-direction: column;
    }
    .add_grade_container div p{
        font-size: 1.2rem;
    }
    .gpa_shower_container{
        width: 350px;
    }
    .add_grade_container div{
        margin: 0;
    }
}